html{
    width: 100vw;
    height: 100vh;
}
body{
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
header{
    text-shadow: 1px 2px 4px aquamarine;
}
main{
    display: flex;
    justify-content: center;
    gap: 30px;
}
#settings{
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.size{
    position: relative;
    top: 25px;
    font-size: 1.6rem;
    font-family:monospace;
}
input{
    cursor: pointer;
}
#color-select{
    width: 75px;
    height: 75px;
    padding: 0;
    border: none;
    background-color: inherit;
}
input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    box-shadow: 1px 1px 8px rgb(88, 83, 83);
}
input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0;
}

button{
    background-color: rgb(127, 255, 212);
    padding: 10px 0;
    align-self: stretch;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}
.active{
    transform: scale(1.1);
    background-color: rgb(78, 160, 132);
}
.board{
    width: 500px;
    height: 500px;
    border: solid brown 8px;
    background-color: white;
    display: grid;
}

footer{
    padding: 15px;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: brown;
}